################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebShop.App/obj
/WebShop.DataBase/obj/Debug
/WebShop.Data.Manager/obj
/WebShop.Data.InMemory/obj
/WebShop.Data/obj
/WebShop.Core/obj
